<mat-button-toggle-group
  #group="matButtonToggleGroup"
  (change)="changeSelectedConstructValue(toggleGroup.value)"
>
  <mat-button-toggle [value]="'tabstop'">
    <mat-icon>unfold_less</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="'placeholder'">
    <mat-icon>space_bar</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="'choice'">
    <mat-icon>notes</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="''" [checked]="true">
    <mat-icon>clear</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
