<mat-button-toggle-group
  #group="matButtonToggleGroup"
  (change)="changeSelectedConstructValue(toggleGroup.value)"
>
  <mat-button-toggle [value]="'tabstop'" matTooltip="tabstop">
    <mat-icon>unfold_less</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="'placeholder'" matTooltip="placeholder">
    <mat-icon>space_bar</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="'choice'" matTooltip="choice">
    <mat-icon>notes</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="''" [checked]="true" matTooltip="clear selection">
    <mat-icon>clear</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
