<!-- Tabstops -->
<mat-expansion-panel [expanded]="tabstops.length != 0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      tabstops
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-action-row *ngIf="tabstops.length != 0">
    <button
      mat-icon-button
      aria-label="Remove"
      (click)="removeTabstops(tabsList.selectedOptions.selected)"
    >
      <mat-icon (click)="removeTabstops(tabsList.selectedOptions.selected)"
        >remove</mat-icon
      >
    </button>
  </mat-action-row>

  <mat-selection-list #tabsList color="warn">
    <mat-list-option *ngFor="let tabstop of tabstops" [value]="tabstop">
      {{ tabstop.stopId }}
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>

<!-- Placeholders -->
<mat-expansion-panel [expanded]="placeholders.length != 0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      placeholders
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-action-row *ngIf="placeholders.length != 0">
    <button
      mat-icon-button
      aria-label="Remove"
      (click)="removePlaceholders(placeholdersList.selectedOptions.selected)"
    >
      <mat-icon *ngIf="placeholdersDeleting">remove</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Remove"
      (click)="placeholdersDeleting = !placeholdersDeleting"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </mat-action-row>

  <mat-selection-list #placeholdersList color="warn">
    <div *ngIf="placeholdersDeleting; else placeholdersEditing">
      <mat-list-option
        *ngFor="let placeholder of placeholders; let i = index"
        [disabled]="!placeholdersDeleting"
        [value]="placeholder"
      >
        <label>{{ placeholder.stopId }}: {{ placeholder.name }}</label>
      </mat-list-option>
    </div>
  </mat-selection-list>
  <!-- If editing placeholders -->
  <ng-template #placeholdersEditing>
    <mat-list>
      <mat-list-item *ngFor="let placeholder of placeholders; let i = index">
        <mat-form-field style="width: 20%;">
          <mat-label>stopId</mat-label>
          <input matInput type="number" [(ngModel)]="placeholder.stopId" />
        </mat-form-field>

        <mat-form-field style="width: 180%;">
          <mat-label>name</mat-label>
          <input
            matInput
            [(ngModel)]="placeholder.name"
            (keyup)="editPlaceholderName(i)"
          />
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </ng-template>
</mat-expansion-panel>

<!-- Choices -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      choices
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
